# torch==1.0.1.post2 -- must install separately based on configuration
# torchvision==0.2.2.post3 -- must install separately based on configuration
cpu-cores==0.1.3
jupyter~=1.0.0
ipywidgets~=7.5.0
pyyaml~=5.1.0
progressbar2~=3.42.0
matplotlib~=3.1.0
scipy~=1.3.0
pandas~=0.25.0
psutil~=5.6.5
requests~=2.22.0
tqdm~=4.32.0
tensorflow~=1.14.0
tensorboard~=1.14.0
tensorboardX~=1.8
