# This file is used to dynamically load integrations for evaluation
# Each integration must have a name and it's corresponding file path
# The file path should be relative to the integrations_config.yaml file
# The file path must contain a callable registered with the name of the 
# integration

# NOTE: Do NOT use "." to specify the relative path
#  it is assumed the integrations locations are with respect 
#  this file.

# The integrations will be loaded in only when they are needed

# Example:
# my_eval_integration: integrations/my_eval_integration.py
# my_eval_integration2: integrations/my_eval_integration2.py

perplexity: integrations/perplexity.py
lm-eval-harness: integrations/lm_eval_harness.py
